{% extends "auth_base.html" %}
{% block content %}
        <p class="text-light">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </p>
        <div class="card-header">
            <h2 class="text-light text-center"> 
                {% if request.endpoint=='login' %}
                Login
                {% else %}
                Register/Create Link
                {%  endif %}
            </h2>
        </div>
        <form action="" method="POST" class="form card-body">
            <div class="input-group form-floating mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" name="username" id="username" required placeholder="username" class="form-control">
            </div>
            <div class="input-group form-floating mb-3 text-dark">
                <label for="password" class="form-label text-dark">Password</label>
                <input type="password" id="password" name="password" required placeholder="password" class="form-control text-dark">
            </div>
            <div class="input-group d-flex justify-content-center">
                <input type="submit" class="btn btn-primary btn-block" value="{{"login" if request.endpoint=='login' else 'register' }}">
            </div>
            <div class="input-group">
                {% if request.endpoint == 'login' %}
                <p class="text-light">Don't have an account? <span><a href="/register" class="btn-link">Signup here</a></span></p>
                {% elif request.endpoint == 'register' %}
                <p class="text-light">Already signed up? <span><a href="/" class="btn-link">Login here</a></span></p>
                {% endif %}      
            </div>
         </form> 
    
{% endblock %}
